{% load static %}

<link
  rel="stylesheet"
  href="{% static 'https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&amp;display=swap' %}"
/>
<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />

<h1 style="text-align: center; margin-top: 15px; margin-bottom: 15px">
  Hoo&#39;s Meet
</h1>
<div class="jumbotron" style="height: 420px;">
    <div class="container">
        <div class="intro">
            <p class="text-center">An app for hoos to connect, families to celebrate and businesses to strive</p>
        </div>
        <div class="row features">
            <div class="col-sm-6 col-md-4 item"><i class="fa fa-map-marker icon"></i>
                <h3 class="name">Precise Location</h3>
                <p class="description">Incorporating Google Maps, Hoo's Meet makes finding events on grounds easier than ever before.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><i class="fa fa-clock-o icon"></i>
                <h3 class="name">Secure Access</h3>
                <p class="description">Incorporating Google login, We allow no strangers to look at your data.</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><i class="fa fa-list-alt icon"></i>
                <h3 class="name">Customizable</h3>
                <p class="description">Want to join an event? Don't hesitate to put it in your bucket list!</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><i class="fa fa-balance-scale"></i>
                <h3 class="name">Business-Friendly</h3>
                <p class="description">Want to promote your product? Don't forget posting an intersting events on the billboard!</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><i class="fa fa-plane icon"></i>
                <h3 class="name">Fast</h3>
                <p class="description">Have something in your mind? put that in the search bar and see what will happen!</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><i class="	fa fa-safari"></i>
                <h3 class="name">Easy</h3>
                <p class="description">The interactive interface enables you to visualize your searching result!</p>
            </div>
        </div>
	</div>
</div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.djangoproject.com/">Django</a></li>
            <li class="list-inline-item"><a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li class="list-inline-item"><a href="https://developers.google.com/">Google</a></li>
            <li class="list-inline-item"><a href="https://www.mit.edu/~amini/LICENSE.md">License Info</a></li>
        </ul>
        <p class="copyright">No Reply © 2020</p>
    </footer>
</div>